@import "helper/reset";
@import "helper/flexbox";
@import "helper/mixin";

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&subset=cyrillic,cyrillic-ext');

body{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  width: 100%;
  height: 100%;
	position: relative;

	&:after{
		height: 9px;
		background-color: #f3f3f3;
		background-image: linear-gradient(to top, #0085d1 0%, #27b0ff 100%);
		content: '';
		position: absolute;
		width: 100%;
		bottom: 0;
		left: 0;
	}
}

.wrap{
  
}

.content{
  max-width: 1040px;
  margin: 0 auto;
  position: relative;
  padding: 0 20px;
}

header{
	.logo{
		display: block;
		box-shadow: 0 3px 5px rgba(0, 1, 2, 0.15);
		background-color: #ffffff;
		padding: 15px;
		position: relative;

		&:after{
			height: 6px;
			background-color: #27b0ff;
			background-image: linear-gradient(to top, #0085d1 0%, #27b0ff 100%);
			content: '';
			width: 100%;
			position: absolute;
			bottom: -6px;
			left: 0;
		}
	}

	.text{
		color: #999999;
		font-size: 11px;
		font-weight: 400;
		line-height: 14px;
		text-align: left;
		margin-top: 43px;
		float: left;
	}

	.search{
		width: 70%;
		position: relative;
		margin-top: 40px;

		input[type=text]{
			height: 30px;
			border: 1px solid #cccccc;
			background-color: #ffffff;
			color: #999999;
			font-size: 14px;
			font-weight: 400;
			padding: 0 35px 0 10px;
			width: 100%;
		}

		img{
			position: absolute;
			right: 10px;
			top: 6px;
			z-index: 2;
		}
	}

	.suma{
		color: #000000;
		font-size: 18px;
		font-weight: 700;
		line-height: 30px;
		float: left;
	}

	.count-cart{
		font-size: 10px;
		font-weight: 700;
		line-height: 30px;
		width: 31px;
		height: 27px;
		background: url('../img/cors.png') no-repeat;
		text-align: center;
		margin-left: 10px;
	}

	.cart{
		@include flexbox;
		@include justify-content(center);
		margin-top: 48px;
	}

	.text_menu{
		margin-top: 20px;
		li{
			float: left;
			padding: 5px 10px;
			border-right: 1px solid #e4e4e4;
			
			a{
				color: #383838;
				font-size: 14px;
				font-weight: 400;
				line-height: 18px;
				display: inline-block;
			}

			&:nth-last-child(1){
				border-right: 0;
			}

			&.active{
				a{
					border-bottom: 2px solid #27b0ff;
				}
			}
		}	
	} 
}

/*** Button ***/
.btn-blue{
	height: 41px;
	background-color: #27b0ff;
	background-image: linear-gradient(to top, #0085d1 0%, #27b0ff 100%);
	color: #ffffff;
	font-size: 14px;
	font-weight: 400;
	line-height: 41px;
	-webkit-border-radius:30px;
	-moz-border-radius:30px;
	border-radius:30px;
	padding: 0 24px;

	i.icon-phone{
		position: relative;
		top: 3px;
	}

	&.btn-call{
		margin-left: -20px;
		margin-top: 10px;
	}
}

/*** Icons ***/
.icon-phone{
	width: 17px;
	height: 17px;
	display: inline-block;
	background: url('../img/phone.png') no-repeat;
}

.s-slider{
	min-height: 460px;
	background: url("../img/slide.png") no-repeat center top/cover;
	margin-top: -10px;
	margin-bottom: 25px;

	.big-slider{
		text-align: center;
		.item{
			text-align: center;
			padding: 100px 0 60px;
			.title{
				color: #ffffff;
				line-height: 35px;
				font-size: 48px;
				font-weight: 700;
				margin-bottom: 15px;
			}

			.text{
				color: #ffffff;
				font-size: 24px;
				font-weight: 400;
				margin-bottom: 15px;
				line-height: 1.3;
			}

			img{
				display: inline-block;
			}
		}

		.slide-left{
			width: 58px;
			height: 58px;
			background-color: #ffffff;
			border-radius: 50%;
			position: absolute;
			left: -100px;
			top: 50%;
			margin-top: -29px;
			z-index: 2;
			@include flexbox;
			@include align-items(center);
			@include justify-content(center);
			cursor: pointer;

			i{
				color: #cccccc;
			}

			&:hover{
				i{
					color: #27b0ff;
				}
			}
		}

		.slide-right{
			width: 58px;
			height: 58px;
			background-color: #ffffff;
			border-radius: 50%;
			position: absolute;
			right: -100px;
			top: 50%;
			margin-top: -29px;
			z-index: 2;
			@include flexbox;
			@include align-items(center);
			@include justify-content(center);
			cursor: pointer;

			i{
				color: #cccccc;
			}

			&:hover{
				i{
					color: #27b0ff;
				}
			}
		}

		.slick-dots{
			display: inline-block;
			background: url("../img/dots-bg.png") no-repeat center bottom/100% 100%;
			padding: 5px 35px;

			li{
				display: inline-block;
				width: 12px;
				height: 12px;
				box-shadow: inset 0 2px 3px rgba(0, 4, 3, 0.15);
				background-color: #cccccc;
				border-radius: 50%;
				margin: 0 4px;
				cursor: pointer;

				button{
					display: none;
				}

				&.slick-active{
					width: 16px;
					height: 16px;
					background-image: linear-gradient(to top, #0085d1 0%, #27b0ff 100%);
					top: 2px;
					position: relative;
				}
			}
		}
	}
}

.s-counter{
	margin-bottom: 25px;
	.col-md-4{
		border-right: 1px solid #e4e4e4;
		padding: 20px;
		text-align: center;
		color: #383838;
		font-size: 14px;
		font-weight: 400;

		&:nth-last-child(1){
			border-right: 0;
		}
	}

	span{
		display: block;
		color: #27b0ff;
		font-size: 35px;
		font-weight: 700;
		margin-bottom: 20px;
	}
}

.s-about{
	margin-bottom: 50px;

	.text{
		padding: 30px;
		border: 1px solid #e4e4e4;
		background-color: #f8f8f8;
	}

	p{
		font-size: 14px;
		font-weight: 400;
		line-height: 30px;
		color: #383838;
		position: relative;

		&:before{
			width: 6px;
			height: 29px;
			background-color: #0085d1;
			position: absolute;
			top: 0px;
			left: -13px;
			content: '';
		}

		&:nth-child(2){
			&:before{
				display: none;
			}
		}
	}
}

.s-partner{
	.header{
		height: 63px;
		border: 1px solid #e4e4e4;
		background-color: #f8f8f8;
		position: relative;
		padding-left: 30px;
		padding-top: 15px;

		&:before{
			width: 6px;
			height: 66px;
			background-color: #383838;
			background-image: linear-gradient(to top, #0085d1 0%, #27b0ff 100%);
			left: 0px;
			top: 0;
			content: '';
			position: absolute;
		}
	}

	.slider-partner{
		margin: 35px -26px 55px;

		.item{
			height: 96px;
			border: 1px solid #cccccc;
			background-color: #ffffff;
			margin: 0 26px;
			text-align: center;
			@include flexbox;
			@include align-items(center);
			@include justify-content(center);

			img{
				display: inline-block;
				max-width: 100%;
				max-height: 100%;
			}
		}

		.slide-left{
			width: 37px;
			height: 37px;
			border: 1px solid #cccccc;
			background-color: #ffffff;
			border-radius: 50%;
			position: absolute;
			right: 96px;
			top: -55px;
			margin-top: -29px;
			z-index: 2;
			@include flexbox;
			@include align-items(center);
			@include justify-content(center);
			cursor: pointer;

			i{
				color: #cccccc;
			}

			&:hover{
				i{
					color: #27b0ff;
				}
			}
		}

		.slide-right{
			width: 37px;
			height: 37px;
			border: 1px solid #cccccc;
			background-color: #ffffff;
			border-radius: 50%;
			position: absolute;
			right: 46px;
			top: -55px;
			margin-top: -29px;
			z-index: 2;
			@include flexbox;
			@include align-items(center);
			@include justify-content(center);
			cursor: pointer;

			i{
				color: #cccccc;
			}

			&:hover{
				i{
					color: #27b0ff;
				}
			}
		}
	}
}

.s-news{
	@extend .s-partner;

	.item{
		display: block!important;
		height: 300px!important;
		background-color: #f8f8f8!important;

		.title{
			border: 1px solid #e4e4e4;
			background-color: #ffffff;
			border-right: 0;
			border-left: 0;
			text-align: center;
			color: #27b0ff;
			font-size: 24px;
			font-weight: 700;
			line-height: 30px;
			padding: 15px;
			margin: 30px 0;
		}

		.intro{
			color: #383838;
			font-size: 14px;
			font-weight: 400;
			line-height: 24px;
			height: 110px;
		}

		a{
			display: inline-block;
			border: 2px solid #cccccc;
			background-color: rgba(111, 176, 48, 0);
			border-radius: 20px;
			color: #383838;
			font-size: 14px;
			font-weight: 400;
			line-height: 18px;
			padding: 10px 20px;

			&:hover{
				background: #cccccc;
				color: white;
			}
		}
	}
}

.s-catalog{
	@extend .s-news;

	.item{
		.img{
			height: 166px;
			background-color: #ffffff;
			margin: 20px 0;

			img{
				width: 90%;
				height: 90%;
				object-fit: contain;
			}
		}

		a{
			color: #27b0ff;
			font-size: 14px;
			font-weight: 700;
			line-height: 18px;
			border: 0;
		}

		.price{
			color: #cc0000;
			font-size: 18px;
			font-weight: 400;
			line-height: 30px;

			span{
				color: #383838;
				font-size: 14px;
				font-weight: 400;
				line-height: 30px;
				text-decoration: line-through;
			}
		}
	}
}

h2{
	color: #383838;
	font-size: 30px;
	font-weight: 700;
	line-height: 30px;
	margin-bottom: 10px;
}

#map{
	height: 411px;
	box-shadow: inset 0 0 8px rgba(0, 4, 3, 0.35);
	margin-top: 30px;
}

.info-win{
	.line{
		.title{
			color: #383838;
			font-size: 14px;
			font-weight: 700;
			line-height: 18px;
		}

		.box-phone{
			color: #383838;
			font-size: 14px;
			font-weight: 400;
			line-height: 25px;
			background: url('../img/box-phone.png') no-repeat left center;
			padding-left: 30px;
		}

		.box-mail{
			color: #383838;
			font-size: 14px;
			font-weight: 400;
			line-height: 25px;
			background: url('../img/box-mail.png') no-repeat left center;
			padding-left: 30px;
		}

		.box-site{
			color: #383838;
			font-size: 14px;
			font-weight: 400;
			line-height: 25px;
			background: url('../img/box-site.png') no-repeat left center;
			padding-left: 30px;
		}
	}

	.title-cheme{
		color: #383838;
		background: url('../img/box-cheme.png') no-repeat left center;
		padding-left: 20px;
		font-size: 12px;
		font-weight: 400;
		line-height: 25px;
		text-decoration: underline;
	}

	img{
		width: 88px;
	}
}

footer{
	margin-top: 55px;

	.bottom-menu{
		border-top:1px solid #e4e4e4;
		border-bottom:1px solid #e4e4e4;
		padding: 30px 0;

		.btn{
			float: right;
		}
		
		ul{
			float: left;
		}

		li{
			float: left;
			padding: 5px 10px;
			border-right: 1px solid #e4e4e4;

			a{
				color: #383838;
				font-size: 14px;
				font-weight: 400;
				line-height: 18px;
				display: inline-block;
			}

			&:nth-last-child(1){
				border-right: 0;
			}

			&.active{
				a{
					border-bottom: 2px solid #27b0ff;
				}
			}
		}
	}

	.btm{
		padding: 30px 0;

		.copy{
			color: #383838;
			font-size: 14px;
			line-height: 18px;
			margin-top: 30px;

			p:nth-child(2){
				font-weight: 700;
			}
		}

		.social{
			margin-top: 30px;
			a{
				width: 34px;
				height: 34px;
				border-radius: 50%;
				display: inline-block;
				border:2px solid #cecece;
				text-align: center;
				line-height: 34px;

				i{
					color: #cecece;
					font-size: 18px;
				}

				&:hover{
					i{
						color: #27b0ff;
					}

					border-color: #27b0ff;
				}
			}
		}

		.studio{
			text-align: right;
			a{
				display: inline-block;
				height: 94px;
				line-height: 94px;
				background: url("../img/studio.png") no-repeat right center;
				color: #383838;
				font-size: 14px;
				font-weight: 400;
				padding-right: 100px;
			}
		}
	}
}

.call-modal{
	position: fixed;
	width: 351px;
	height: 431px;
	background-color: #f8f8f8;
	z-index: 5;
	top: 50%;
	left: 50%;
	margin-top: -215px;
	margin-left: -175px;
	padding: 50px 30px;
	text-align: center;
	display: none;

	p{
		color: #000000;
		font-size: 24px;
		font-weight: 400;
		line-height: 30px;
		margin-bottom: 25px;
		text-align: left;
	}

	.cls{
		position: absolute;
		top: -30px;
		right: -30px;
		cursor: pointer;
	}

	form{
		margin-bottom: 10px;
		input{
			width: 100%;
			height: 57px;
			border: 1px solid #cccccc;
			background-color: #ffffff;
			color: #999999;
			font-size: 24px;
			font-weight: 400;
			line-height: 35px;
			margin-bottom: 10px;
			padding: 0 20px;
		}

		button{
			margin-top: 30px;
			margin-bottom: 0px;
		}
	}

	a{
		color: #000000;
		font-size: 14px;
		font-weight: 400;
		text-decoration: underline;
	}
}

.backdoor{
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.5);
	z-index: 4;
	display: none;
}


@import "helper/response";