@media (max-width: 1280px) {
  .changeView{
    right: 15px;
  }

  .nplTable{
    padding-left: 0;
    padding-right: 10px;
  }

  .block .icon-lock{
    right: 60px;
  }

  header ul.nav li{
    margin-right: 25px;
  }

  .pageBox{
    padding: 40px 40px 80px;
  }

  .box-kurs .rows-info{
    font-size: 12px;
  }
}

@media (max-width: 1130px) {
  .block{
    padding: 30px 15px;

    .icon-lock{
      top: 30px;
      right: 30px;
    }

    .kubok{
      top: 30px;
      right: 50px;
    }
  }

  .block .lockText{
    margin-left: -15px;
    margin-right: -15px;
  }

  header ul.nav{
    margin-left: 70px;
  }

  header .user .img{
    min-width: 40px;
  }

  .pageBox .info .name{
    font-size: 20px;
  }

  .pageBox .info .count{
    font-size: 16px;
  }

  .box-kurs .rows-info .icon-graduation-cap{
    margin-left: 35px;
  }

  header ul.nav li{
    margin-right: 15px;
  }

  header ul.nav{
    width: auto;
  }

  header .user{
    width: 155px;
  }

  header .user i{
    display: none;
  }
}

@media (max-width: 992px) {
  .boxAction a{
    display: block;
    margin-bottom: 20px;
  }

  main{
    padding-top: 10px;
  }

  footer .text{
    padding-left: 60px;
  }

  h1{
    margin-bottom: 20px;
    font-size: 36px;
    line-height: 40px;
  }

  header{
    padding-top: 20px;
  }

  h1{
    height: 85%;
  }

  .mobileMenu{
    position: absolute;
    display: block;
    font-size: 40px;
    top: -5px;
    right: 25px;
  }

  .action-user-menu, .avatar, .name-user-mob{
    display: block;
  }


  header ul.nav{
    position: fixed;
    width: 300px;
    top: 0;
    bottom: 0;
    right: -500px;
    z-index: 5;
    background-color: white;
    margin-left: 0;
    margin-top: 0;
    overflow-y: auto;
    overflow-x: hidden;

    li{
      display: block;
      width: 100%;
      padding: 15px 20px 15px 40px;
      margin-right: 0;

      a{
        font-size: 22px;
        padding: 0;
      }

      &.active{
        background-color: #241c37;


      }
    }
  }

  header ul.nav li .menu-step-2 > li{
    margin: 10px 0;
    &>a{
      padding-left: 0!important;
      color: white!important;
      font-size: 16px;
      font-weight: 700;
    }
  }

  header ul.nav li .menu-step-2 li a:hover{
    background: none!important;
    font-weight: 700!important;
    color: #d9a26e!important;
  }

  .nav>li>a:focus, .nav>li>a:hover{
    background: none;
  }

  header ul.nav li .menu-step-2 li{
    padding: 0;
  }

  header ul.nav li a i{
    font-size: 14px;
    position: relative;
    top: -2px;
  }

  header ul.nav li .menu-step-2{
    position: relative;
  }

  header ul.nav li .menu-step-3{
    position: relative;
    margin-top: 10px;
    left: 0;

    li{
      width: 70%;
    }

    a{
      font-size: 14px!important;
      position: relative;
      padding-left: 30px!important;
      display: block;
      color: white;
      margin: 10px 0;

      i{
        position: absolute;
        left: 0;
      }
    }
  }

  header .user{
    display: none;
  }

  header .logo{
    width: 55px;
  }

  header ul.nav li{
    margin-right: 20px;
  }

  .question{
    padding: 30px;
  }

  .instruction{
    padding: 40px 35px;
  }

  .npl-sm{
    padding-left: 0;
  }

  .mainNagrad{
    margin-top: 20px;
  }

  .box-kurs .rows-info .icon-graduation-cap{
    margin-left: 0;
  }

  .box-kurs .rows-info .img{
    @include photo(70px, 70px);
    margin-top: -20px;
  }

  .box-kurs{
    padding-top: 125px;
  }

  .box-kurs .text{
    padding: 0 20px;
  }

  .box-kurs .rows-info{
    font-size: 8px;
    padding-bottom: 10px;
    padding-top: 10px;
  }

  .hide-box{
    display: block!important;
  }

  header ul.nav>li .menu-step-2, header ul.nav>li .menu-step-3{
    background: none;
  }

  .commentAmswer, .answer{
    padding: 20px;
  }

  .commentAmswer .rating{
    margin-bottom: 30px;
  }

  .pageBox{
    margin-bottom: 5px;
    padding-bottom: 10px;
  }

  .userProgress{
    margin-top: 30px;
  }
}

@media (max-width: 767px) {
  header .user{
    display: none;
  }

  .npl-xs{
    padding-left: 0;
  }

  .mobileMenu{
    position: absolute;
    display: block;
    font-size: 40px;
    top: -5px;
    right: 25px;
  }

  .menuLeft{
    margin-bottom: 30px;
  }

  .nplTable{
    padding-left: 0px;
    padding-right: 0px;
  }

  .hrefDefault{
    text-align: center;
    margin-bottom: 20px;
  }

  footer .text{
    text-align: center;
    padding-left: 15px;
    margin-bottom: 20px;
  }

  footer .boxSocial{
    text-align: center;
  }

  .flexH{
    display: block;
  }

  .instruction{
    margin-bottom: 20px;
  }

  .commentAmswer .title{
    font-size: 20px;
    line-height: 24px;
  }

  .gHref{
    text-align: left;
    margin-top: 20px;
  }

  .box-kurs .rows-info{
    padding-top: 40px;
  }

  .box-kurs .rows-info .img{
    position: absolute;
    left: 50%;
    margin-left: -35px;
    margin-top: -75px;
  }

  .box-kurs.box-kurs-now .rows-info .img{
    margin-top: -90px;
  }

  .box-kurs .rows-info .icon-graduation-cap{
    display: none;
  }

  .box-kurs{
    padding-top: 165px;
  }

  main{
    padding-top: 10px;
  }

  h1{
    margin-bottom: 20px;
  }

  header{
    padding-top: 20px;
  }

  .block .metka{
    height: 50px;
    line-height: 50px;
  }

  .block .go{
    bottom: 75px;
  }

  .block{
    height: auto;
    padding-bottom: 130px;
  }

  .menuLeft{
    display: none;
  }
}

@media (max-width: 590px) {

  .answer, .commentAmswer{
    padding: 20px 15px;
  }

  .changeView{
    display: none;
  }

  .commentAmswer .text{
    margin-bottom: 20px;
    padding-bottom: 20px;
  }

  .commentAmswer .rating{
    margin-bottom: 20px;
  }

  .boxComment .caption{
    margin-bottom: 0;
  }

  h1{
    width: 100%;
  }
}

@media (max-width: 480px) {
  .write-admin{
    padding: 20px;
  }

  h1{
    font-size: 25px;
    margin-bottom: 20px;
    line-height: 29px;
  }

  .changeView{
    top: 15px;
  }

  main{
    padding-top: 20px;
  }

  .boxAction a{
    margin: 0 0 20px 0;
  }

  .boxAction a span{
    font-size: 10px;
  }

  .boxAction a .icon-pdf{
    font-size: 15px;
  }
  .boxAction a .icon-monitor{
    font-size: 14px;
  }

  .timer{
    padding: 20px;
  }

  .timer .time{
    font-size: 42px;
  }

  .timer .time label{
    font-size: 12px;
    left: 50px;
  }

  .timer .time label.min{
    left: 135px;
  }

  .timer .time label.sec{
    left: 220px;
  }

  .question{
    display: block;
    text-align: center;

    .img{
      margin: 0 auto 20px;
    }
  }

  .answer .user{
    display: block;
  }

  .answer{
    text-align: center;

    .img{
      margin: 0 auto 20px!important;
    }
  }

  .commentAmswer{
    text-align: center;
    .user{
      display: block;

      .img{
        margin: 0 auto 20px!important;
      }
    }
  }

  .commentAmswer .user .img{
    float: none;
  }

  .answer .user .img{
    float: none;
  }

  .commentAmswer .rating label{
    float: none;
    display: block;
    width: 100%;
    text-align: left;
  }

  .customRadio{
    float: left!important;
    width: 18px!important;
    margin-top: 10px;
  }

  .boxComment .caption{
    font-size: 15px;
  }

  .boxComment textarea{
    font-size: 12px;
  }

  .pageBox .img{
    float: none;
    margin: 0 auto 20px;
  }

  .pageBox{
    padding: 20px 10px 0px;
  }

  .pageBox .info{
    float: none;
    width: 100%;
  }

  .userProgress .iconPr i{
    margin-left: 20px;
  }

  .menuLeft{
    padding: 15px 15px 0;
  }

  .boxAction{
    padding: 10px 10px 0;
  }

  .instruction{
    padding: 15px 20px;
  }

  .question{
    padding: 15px;
  }

  header ul.nav{
    width: 100%;
  }
}